"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401tokenException,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_three_ds_transaction import (
    ResponseThreeDSTransaction,
)


class M3DSTransactionsController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize M3DSTransactionsController object."""
        super(M3DSTransactionsController, self).__init__(config)

    def m3_ds_transactions_request(self,
                                   three_ds_server_trans_id,
                                   product_transaction_id):
        """Perform a GET request to
        /v1/merchant/threedsecure/transactions/{three_ds_server_trans_id}.

        For getting results of successful 3DS authentication attempts

        Args:
            three_ds_server_trans_id (str): Universally unique transaction identifier
                assigned by the 3DS Server to identify a single transaction.
            product_transaction_id (str): Product Transaction ID associated with this
                3DS request

        Returns:
            ResponseThreeDSTransaction: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/merchant/threedsecure/transactions/{three_ds_server_trans_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("three_ds_server_trans_id")
                .value(three_ds_server_trans_id)
                .should_encode(True))
            .query_param(Parameter()
                .key("product_transaction_id")
                .value(product_transaction_id))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseThreeDSTransaction.from_dictionary)
            .local_error("401", "Unauthorized", Response401tokenException),
        ).execute()
