"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401TokenException,
)
from fortisapi.exceptions.response_412_exception import (
    Response412Exception,
)
from fortisapi.exceptions.v_1_merchant_threedsecure_authentication_400_error_exception import (  # noqa: E501
    V1MerchantThreedsecureAuthentication400ErrorException,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_three_ds_authentication import (
    ResponseThreeDsAuthentication,
)


class M3DsAuthenticationController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize M3DsAuthenticationController object."""
        super(M3DsAuthenticationController, self).__init__(config)

    def m_3_ds_authentication_request(self,
                                      body):
        """Perform a POST request to /v1/merchant/threedsecure/authentication.

        Makes a 3DS Authentication request to authenticate a card or begin the
        challenge flow.  If a challenge is required, a POST should be made to acs_url
        using the value of base64_encoded_challenge_request for the value of "creq"
        using x-www-form-urlencoded for the challenge request to the ACS.

        Args:
            body (V1MerchantThreedsecureAuthenticationRequest): The request body
                parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/merchant/threedsecure/authentication")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseThreeDsAuthentication.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Bad Request",
                V1MerchantThreedsecureAuthentication400ErrorException)
            .local_error("401", "Unauthorized", Response401TokenException)
            .local_error("412", "Precondition Failed", Response412Exception),
        ).execute()
