"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401TokenException,
)
from fortisapi.exceptions.response_412_exception import (
    Response412Exception,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_paylink import (
    ResponsePaylink,
)
from fortisapi.models.response_paylinks_collection import (
    ResponsePaylinksCollection,
)


class PaylinksController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize PaylinksController object."""
        super(PaylinksController, self).__init__(config)

    def createanew_paylink(self,
                           body,
                           expand=None):
        """Perform a POST request to /v1/paylinks.

        Generate a new Paylink to be sent via email, sms or grab the payment_url to
        embed in you own messaging system.

        Args:
            body (V1PaylinksRequest): The request body parameter.
            expand (List[Expand17], optional): Most endpoints in the API have a way
                to retrieve extra data related to the current record being retrieved.
                For example, if the API request is for the accountvaults endpoint,
                and the end user also needs to know which contact the token belongs
                to, this data can be returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/paylinks")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsePaylink.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException)
            .local_error("412", "Precondition Failed", Response412Exception),
        ).execute()

    def listall_paylinks(self,
                         page=None,
                         order=None,
                         filter_by=None,
                         expand=None,
                         format=None,
                         typeahead=None,
                         fields=None):
        """Perform a GET request to /v1/paylinks.

        Pull in all Paylinks associated with the location_id.

        Args:
            page (Page1, optional): Use this field to specify paginate your results,
                by using page size and number. You can use one of the following
                methods: >/endpoint?page={ "number": 1, "size": 50 } >
                >/endpoint?page[number]=1&page[size]=50 >
            order (List[Order21], optional): Criteria used in query string parameters
                to order results.  Most fields from the endpoint results can be used
                as a `key`.  Unsupported fields or operators will return a `412`.
                Must be encoded, or use syntax that does not require encoding.
                >/endpoint?order[0][key]=created_ts&order[0][operator]=asc >
                >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] >
                >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key":
                "created_ts", "operator": "asc"}] >
            filter_by (List[FilterBy], optional): Filter criteria that can be used in
                query string parameters.  Most fields from the endpoint results can
                be used as a `key`.  Unsupported fields or operators will return a
                `412`. Must be encoded, or use syntax that does not require encoding.
                >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][v
                alue]=Steve > >/endpoint?filter_by=[{ "key": "first_name",
                "operator": "=", "value": "Fred" }] > >/endpoint?filter_by=[{ "key":
                "account_type", "operator": "=", "value": "VISA" }] >
                >/endpoint?filter_by=[{ "key": "created_ts", "operator": ">=",
                "value": "946702799" }, { "key": "created_ts", "operator": "<=",
                value: "1695061891" }] > >/endpoint?filter_by=[{ "key": "last_name",
                "operator": "IN", "value": "Williams,Brown,Allman" }] >
            expand (List[Expand18], optional): Most endpoints in the API have a way
                to retrieve extra data related to the current record being retrieved.
                For example, if the API request is for the accountvaults endpoint,
                and the end user also needs to know which contact the token belongs
                to, this data can be returned in the accountvaults endpoint request.
            format (Format1, optional): Reporting format, valid values: csv, tsv
            typeahead (str, optional): You can use any `field_name` from this
                endpoint results to order the list using the value provided as filter
                for the same `field_name`. It will be ordered using the following
                rules: 1) Exact match, 2) Starts with, 3) Contains.
                >/endpoint?filter={ "field_name": "Value" }&_typeahead=field_name >
            fields (List[Field39], optional): You can use any `field_name` from this
                endpoint results to filter the list of fields returned on the
                response.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/paylinks")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("page")
                .value(page))
            .query_param(Parameter()
                .key("order")
                .value(order))
            .query_param(Parameter()
                .key("filter_by")
                .value(filter_by))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .query_param(Parameter()
                .key("_format")
                .value(format))
            .query_param(Parameter()
                .key("_typeahead")
                .value(typeahead))
            .query_param(Parameter()
                .key("fields")
                .value(fields))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsePaylinksCollection.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException),
        ).execute()

    def delete_paylink(self,
                       paylink_id):
        """Perform a DELETE request to /v1/paylinks/{paylink_id}.

        Delete an existing Paylink_id

        Args:
            paylink_id (str): System generatedPaylink Id

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. No Content

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/paylinks/{paylink_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("paylink_id")
                .value(paylink_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsePaylink.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException),
        ).execute()

    def view_single_paylink(self,
                            paylink_id,
                            expand=None,
                            fields=None):
        """Perform a GET request to /v1/paylinks/{paylink_id}.

        Use the Paylink_id obtained from the Create request to look up the status

        Args:
            paylink_id (str): System generatedPaylink Id
            expand (List[Expand18], optional): Most endpoints in the API have a way
                to retrieve extra data related to the current record being retrieved.
                For example, if the API request is for the accountvaults endpoint,
                and the end user also needs to know which contact the token belongs
                to, this data can be returned in the accountvaults endpoint request.
            fields (List[Field39], optional): You can use any `field_name` from this
                endpoint results to filter the list of fields returned on the
                response.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/paylinks/{paylink_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("paylink_id")
                .value(paylink_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .query_param(Parameter()
                .key("fields")
                .value(fields))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsePaylink.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException),
        ).execute()

    def update_paylink(self,
                       paylink_id,
                       body,
                       expand=None):
        """Perform a PATCH request to /v1/paylinks/{paylink_id}.

        Update an existing Paylink_id

        Args:
            paylink_id (str): System generatedPaylink Id
            body (V1PaylinksRequest1): The request body parameter.
            expand (List[Expand17], optional): Most endpoints in the API have a way
                to retrieve extra data related to the current record being retrieved.
                For example, if the API request is for the accountvaults endpoint,
                and the end user also needs to know which contact the token belongs
                to, this data can be returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/paylinks/{paylink_id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("paylink_id")
                .value(paylink_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsePaylink.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException)
            .local_error("412", "Precondition Failed", Response412Exception),
        ).execute()

    def resend_paylink(self,
                       paylink_id,
                       expand=None,
                       email=None,
                       sms=None):
        """Perform a PUT request to /v1/paylinks/{paylink_id}/resend.

        Resend the Paylink via email or sms

        Args:
            paylink_id (str): System generatedPaylink Id
            expand (List[Expand17], optional): Most endpoints in the API have a way
                to retrieve extra data related to the current record being retrieved.
                For example, if the API request is for the accountvaults endpoint,
                and the end user also needs to know which contact the token belongs
                to, this data can be returned in the accountvaults endpoint request.
            email (Email, optional): Resend Email
            sms (Sms, optional): Resend SMS

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/paylinks/{paylink_id}/resend")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("paylink_id")
                .value(paylink_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .query_param(Parameter()
                .key("email")
                .value(email))
            .query_param(Parameter()
                .key("sms")
                .value(sms))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsePaylink.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException),
        ).execute()
