"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401TokenException,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_payment_card_reader_token import (
    ResponsePaymentCardReaderToken,
)


class PaymentCardReaderTokenController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize PaymentCardReaderTokenController object."""
        super(PaymentCardReaderTokenController, self).__init__(config)

    def payment_card_reader_token_request(self,
                                          product_transaction_id):
        """Perform a GET request to /v1/payment-card-reader-token.

        For initializing iPhone card readers for Apple Tap to Pay transactions

        Args:
            product_transaction_id (str): Product Transaction ID to be used to
                initialize the card reader

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. OK

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/payment-card-reader-token")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("product_transaction_id")
                .value(product_transaction_id)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponsePaymentCardReaderToken.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException),
        ).execute()
