"""fortisapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.and_auth_group import (
    And,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from fortisapi.api_helper import APIHelper
from fortisapi.configuration import Server
from fortisapi.controllers.base_controller import (
    BaseController,
)
from fortisapi.exceptions.response_401_token_exception import (
    Response401TokenException,
)
from fortisapi.exceptions.response_412_exception import (
    Response412Exception,
)
from fortisapi.http.http_method_enum import (
    HttpMethodEnum,
)
from fortisapi.models.response_transaction import (
    ResponseTransaction,
)


class TransactionsEbtCardController(BaseController):
    """A Controller to access Endpoints in the fortisapi API."""

    def __init__(self, config):
        """Initialize TransactionsEbtCardController object."""
        super(TransactionsEbtCardController, self).__init__(config)

    def ebt_voucher_clear_refund(self,
                                 body,
                                 expand=None):
        """Perform a POST request to
        /v1/transactions/ebt/voucher-clear-refund/keyed.

        Create a new keyed EBT voucher clear refund transaction

        Args:
            body (V1TransactionsEbtVoucherClearRefundKeyedRequest): The request body
                parameter.
            expand (List[Expand60], optional): Most endpoints in the API have a way
                to retrieve extra data related to the current record being retrieved.
                For example, if the API request is for the accountvaults endpoint,
                and the end user also needs to know which contact the token belongs
                to, this data can be returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/transactions/ebt/voucher-clear-refund/keyed")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException)
            .local_error("412", "Precondition Failed", Response412Exception),
        ).execute()

    def ebt_voucher_clear_sale(self,
                               body,
                               expand=None):
        """Perform a POST request to
        /v1/transactions/ebt/voucher-clear-sale/keyed.

        Create a new keyed EBT voucher clear sale transaction

        Args:
            body (V1TransactionsEbtVoucherClearSaleKeyedRequest): The request body
                parameter.
            expand (List[Expand60], optional): Most endpoints in the API have a way
                to retrieve extra data related to the current record being retrieved.
                For example, if the API request is for the accountvaults endpoint,
                and the end user also needs to know which contact the token belongs
                to, this data can be returned in the accountvaults endpoint request.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/transactions/ebt/voucher-clear-sale/keyed")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .query_param(Parameter()
                .key("expand")
                .value(expand))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(And(Single("user-id"), Single("user-api-key"),
                Single("developer-id"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ResponseTransaction.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Unauthorized", Response401TokenException)
            .local_error("412", "Precondition Failed", Response412Exception),
        ).execute()
